<ion-header class="ion-no-border">
</ion-header>

<ion-content>
<div class="body">
  <ion-text>
    <h1> Welcome to Hapicrow </h1>
    <p>To get started, create an account by clicking 
      the register button if you're new or hit the 
      login button to jump back in</p>
  </ion-text>

  <ion-button expand="block" size="large">Register</ion-button>
  <ion-button expand="block" size="large">Login</ion-button>

  <ion-text class="footer">
    <p>Tems and conditions | FAQs</p>
  </ion-text>
</div>
</ion-content>
