.body {
    margin: 40% 10px 0 10px;

    h1 {
        font-weight: bolder;
    }

    p {
        font-size: small;
        margin-bottom: 10%;
    }
    .wrap {

        margin-bottom: 20px;

        ion-label {
           font-weight: bold;
        }
        
        .wrap-input {
            margin-top: 10px;
            background-color: rgba(255, 255, 255, .8);
            border-radius: 5px;
            border: gray 1px solid;
          }
        .input {
            display: block;
            width: 100%;
            background: transparent;
            font-size: 16px;
            line-height: 1.2;
            border: none;
            outline: none;
            height: 46px;
            padding: 0 20px 0 20px; 
          }

          .forgot {
              margin-top: 10px;
              float: right;
          }

          
    }

    .btns {
        // width: 100%;
        margin-top: 20%;
        ion-button {
            color: white;
        }
        p {
            margin: 0 10px;
        }
     }

    

    ion-button {
        text-transform: capitalize;
        font-size: small;
        --padding-top: 25px;
        --padding-bottom: 25px;
        margin-bottom: 7%;
        --background: #FFA800;
    }


}