<ion-header class="ion-no-border">
  
</ion-header>

<ion-content>
  <div class="body">
    <ion-text>
      <h1> Login </h1>
      <p>To get started, create an account by clicking</p>
    </ion-text>

    <div class="wrap">
      <ion-label> E-mail Address </ion-label>
      <ion-item class="wrap-input">
        <ion-input class="input" placeholder="johndoe@gmail.com"></ion-input>
      </ion-item>
    </div>

    <div class="wrap">
      <ion-label> Password </ion-label>
      <ion-item class="wrap-input">
        <ion-input class="input" type="password" placeholder="*********"></ion-input>
      </ion-item>
      <ion-label class="forgot"> Forgot Password? </ion-label>
    </div>

    <ion-row class="btns">
      <ion-col size="10">
        <ion-button expand="block" size="large">Login</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="googleSignup()">
          <ion-icon slot="icon-only" name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>
      <p>Don't have an account? <strong>Register</strong></p>
    </ion-row>

    <ion-card>
      <ion-card-content>
        {{ userInfo | json }}
      </ion-card-content>
    </ion-card>
      
  </div>
</ion-content>
