
ion-toolbar {
  margin-top: 20px;

  ion-label {
    color: var(--ion-color-dark);
    font-weight: bolder;
  }

  ion-icon {
    font-size: x-large;
    color: var(--ion-color-primary);
    margin: 10px;
  }
}

.body {

  ion-card {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgba(34, 43, 49, 0.12);

    .card-head, ion-card-header {
      
      ion-label {
        color: var(--ion-color-dark);
        font-weight: bold;
      }

      ion-icon {
        float: right;
      }
    }

    

    ion-card-content {
      padding: 0 0 10px 10px;

      .card-body {
        ion-label {
          color: var(--ion-color-dark);
          font-size: x-large;
          font-weight: bolder;
        }
      }
      
    }
  }
}